/* :root {
  --primary-color: #4CAF50;
  --secondary-color: #ff5722;
  --background-color: #f4f4f4;
  --text-color: #333;
  --font-size-base: 16px;
  --font-family-base: 'Arial, sans-serif';
  --border-radius: 4px;
} */

body {
  margin: 0;
  padding: 0;
  color: #262626;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected {
  color: #c9d9a7;
  background-color: #567a35;
  font-weight: 500;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected:hover {
  color: #262626;
  background-color: #c9d9a7;
  font-weight: 500;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after {
  border-bottom-color: #567a35;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected:hover:after {
  border-bottom-color: #262626;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-active:hover:after {
  border-bottom-color: #262626;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-light
  .ant-menu-item-selected {
  color: #c9d9a7;
  background-color: #567a35;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-layout
  .ant-layout-sider-zero-width-trigger {
  background-color: #567a35;
}
